/* Other styles remain unchanged */

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0 auto; /* Center the body content */
  padding-top: 20px;
  width: 100%; /* Full width for body */
  max-width: 800px; /* Set a maximum width for the body */
}

body.dark-mode {
  background-color: #27272a; /* Dark background color */
  color: #f0f0f0; /* White text color */
}

body.light-mode {
  background-color: #f0f0f0; /* Light gray background color */
  color: #232325; /* Dark gray text color */
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

body.dark-mode #container {
  background-color: #27272a;
}

body.light-mode #container {
  background-color: #f0f0f0;
}

h1, h2, p, ul, a, h2.download-header {
  color: inherit;
}

#header {
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f0f0f0; /* Default border color for dark mode */
  display: flex;
  justify-content: space-between; /* Ensure elements are spaced apart */
  align-items: center;
}

body.light-mode #header {
  border-bottom: 1px solid #232325; /* Light mode border color */
}

#header img {
  width: 80%; /* Adjusted to 80% of the container width */
  height: auto;
}

body.light-mode #header img {
  content: url('/header_l.webp'); /* Load light mode image */
}

.play_button {
  font-size: 1.2rem;
  text-decoration: none;
  padding: 5px 10px;
  border: 2px solid;
  border-radius: 5px;
  transition: background-color 0.3s;
  width: 10%; /* Ensure the button takes up 10% of the width */
  min-width: 60px; /* Ensure a minimum width for the button */
  max-width: 120px; /* Ensure a maximum width for the button */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto; /* Ensure a space between the header image and the play button */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

body.dark-mode .play_button {
  color: #f0f0f0;
  border-color: #f0f0f0;
}

body.light-mode .play_button {
  color: #232325;
  border-color: #232325;
}

.play_button:hover {
  background-color: #444; /* Darkened hover color */
}

body.light-mode .play_button:hover {
  background-color: #b3b3b3;
}

/* Social Media Icons Section */
#social-icons {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto 20px auto; /* Center the container horizontally */
}

#social-icons a {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

#social-icons a img {
  height: 60px; /* Set a uniform height for all icons */
  width: auto; /* Maintain aspect ratio */
  transition: transform 0.3s;
}

body.light-mode #social-icons a img {
  content: attr(data-light); /* Load light mode image */
}

#social-icons a img:hover {
  transform: scale(1.25); /* Transform scale increased to 1.25 */
}

/* Adjusted Gallery Container and Images */
/* Add these new styles */
.gallery-container {
  position: relative;
}

#click-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* Ensuring gallery images are in a single row */
/* Ensure gallery images are in a single row */
#gallery {
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping to new rows */
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
  padding-bottom: 20px; /* Added padding to prevent clipping */
}

#gallery::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.gallery-container {
  position: relative;
  flex: 0 0 auto; /* Ensure containers don't wrap */
  width: 100%; /* Ensure each image container takes up 100% width */
}

.gallery-image {
  scroll-snap-align: start;
  width: 100%;
  height: auto;
  object-fit: contain; /* Maintain aspect ratio */
  max-height: 80vh; /* Ensuring it fits within viewport height */
}

#click-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* Adjusted Gallery Thumbnails */
#gallery-thumbnails {
  display: flex;
  justify-content: space-between; /* Ensure thumbnails take full width */
  width: 95%; /* Set thumbnails to 95% of container width */
  margin: 0 auto; /* Center the thumbnails */
  margin-top: 10px;
  position: relative;
  z-index: 2; /* Ensure thumbnails are on top */
  overflow: visible; /* Ensure overflow is visible */
}

.thumbnail {
  flex: 1; /* Make each thumbnail take an equal share of the available space */
  max-width: 22%; /* Ensure they don't get too wide */
  height: auto;
  cursor: pointer;
  transition: transform 0.3s;
}

.thumbnail:hover,
.thumbnail:active {
  transform: scale(1.25); /* Transform scale increased to 1.25 */
  z-index: 3; /* Ensure hovered thumbnails are on top */
}


/* Download Links Section */
#download-links {
  margin: 20px auto;
  width: 100%;
  text-align: center;
}

#download-links h2 {
  margin: 0;
  font-weight: bold;
  padding-bottom: 10px; /* Add padding below the heading */
}

#download-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.download-item {
  display: flex;
  flex-direction: column; /* Ensure checksum is below the button */
  align-items: center;
  width: 100%;
  max-width: 300px;
  padding-top: 15px;
  padding-bottom: 5px;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

body.dark-mode .download-item {
  background-color: #444;
  color: #f0f0f0;
}

body.light-mode .download-item {
  background-color: #d4d4d4;
  color: #232325;
}

.download-item:hover {
  background-color: #52525b; /* Hover color */
}

body.light-mode .download-item:hover {
  background-color: #b3b3b3;
}

.download-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  text-decoration: none;
  color: inherit;
}

.download-icon {
  width: 25px;
  height: auto;
}

.os-text {
  flex-grow: 1;
  text-align: center;
  font-size: 1.2rem;
  margin: 0 10px;
}

.checksum-text {
  font-size: 0.8rem; /* Smaller text for checksums */
}

body.dark-mode .checksum-text {
  color: #cccccc; /* Light grey color for checksums */
}

body.light-mode .checksum-text {
  color: #737373;
}

/* Footer style */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px; /* Adjust the margin to ensure even spacing */
  padding-top: 10px; /* Add padding to the top of the footer */
  width: 100%;
  text-align: center; /* Ensure the text is centered */
  max-width: 800px; /* Ensure the footer doesn't exceed max width */
}

footer a {
  text-decoration: none;
  margin: 0 10px;
  white-space: nowrap; /* Prevent links from breaking */
  font-size: 1rem; /* Adjust font size for smaller screens */
}

footer a:hover {
  text-decoration: underline;
}

/* Age Verification Popup */
#age-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 60%;
  max-width: 500px;
}

body.dark-mode .popup-content {
  background-color: #333;
  color: #f0f0f0;
}

body.light-mode .popup-content {
  background-color: #d4d4d4;
  color: #232325;
}

.popup-content h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.popup-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.popup-buttons button {
  border: 2px solid;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 45%; /* Adjusted to fit two buttons evenly */
}

body.dark-mode .popup-buttons button {
  background-color: #444;
  color: #fff;
  border-color: #f0f0f0;
}

body.light-mode .popup-buttons button {
  background-color: #b3b3b3;
  color: #232325;
  border-color: #232325;
}

.popup-buttons button:hover {
  background-color: #52525b;
}

body.light-mode .popup-buttons button:hover {
  background-color: #737373;
}

#remember-checkbox {
  margin-right: 10px;
}

/* Toggle switch container */
.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Center horizontally */
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto; /* Center at the bottom of the content */
  width: fit-content;
}

body.dark-mode .toggle-container {
  background-color: #444;
}

body.light-mode .toggle-container {
  background-color: #d4d4d4;
}

.toggle-container img {
  height: 34px;
  margin-right: 10px;
}

.toggle-container .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-container .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-container .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

body.light-mode .toggle-container .slider {
  background-color: #2b2e4a; /* Light mode background color */
}

.toggle-container .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

.toggle-container input:checked + .slider {
  background-color: #2196F3;
}

.toggle-container input:checked + .slider:before {
  transform: translateX(26px);
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 600px) {
  body {
    width: 100%;
  }

  .container {
    width: 100%;
    padding: 0;
  }

  #header img {
    width: 90%; /* Adjusted for smaller screens */
  }

  .play_button {
    font-size: 1rem;
    padding: 5px 8px;
  }

  .thumbnail {
    width: 20%; /* Adjusted to take up more space on smaller screens */
  }

  .download-item {
    max-width: 250px;
    padding: 8px;
  }

  .os-text {
    font-size: 1rem;
    margin-left: 5px;
  }

  .popup-content {
    width: 80%;
  }

  .popup-buttons button {
    width: 45%; /* Adjusted for smaller screens */
  }

  footer a {
    font-size: 1rem; /* Adjust font size for smaller screens */
    margin: 5px; /* Add margin between footer links */
  }
}
